<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div  id="jb-container">
      <div id="jb-header">
        <h1>웹 주소록</h1>
      </div>
      <div id="jb-content">
        <p><h2><%= title %>에 오신걸 환영합니다!</h2></p>
        <p>이 웹 주소록은 회원가입과 로그인, 회원조회, 회원탈퇴, 정보 수정등의 기능을 제공합니다.</p>
          Data Stores : mysql
          <p>Languages & Frameworks</p>
           	* ejs : view
        	<p> * node - express</p>
        	 * javascript
      </div>
      <div id="jb-sidebar">
        <a href="/members"><img src="/image/logo.jpg"></a>
        <h2><center>Click</center><h2>
      </div>
      <div id="jb-footer">
        2018년도 2학기 한경대학교 디자인패턴
      </div>
    </div>
  </body>
</html>
